<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <div layout:fragment="title">
            <title>Edit Tour</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <div layout:fragment="css">
            <style>
                .text_area {
                    border: 1px solid #E4E6FC; /* Định dạng border cùng một lúc */
                    background-color: #FDFDFF;
                    border-radius: 5px;
                    padding: 10px 15px;
                }

                .text_area:focus {
                    outline: none;
                    border-color: #6777EF;
                }

            </style>
        </div>
    </head>

    <body>

        <div layout:fragment="content">
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Edit Tour</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}">Dashboard</a></div>
                            <div class="breadcrumb-item"><a th:href="@{/admin/tour}">View tour</a></div>
                            <div class="breadcrumb-item">Edit tour</div>
                        </div>
                    </div>

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Edit tour</h4>
                                    </div>
                                    <form action="/admin/edit-tour" method="POST" enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                <div class="alert alert-danger">
                                                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                    <span th:text="${message}"></span>
                                                </div>
                                            </div>
                                            <input type="hidden" name="tourId" th:value="${tour.id}" />
                                            <input type="hidden" name="id" th:value="${tour.id}" />
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="name" type="text" class="form-control" th:value="${tour?.name}" />
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && tour?.name == ''}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Name </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea name="description" class="form-control-plaintext text_area" rows="10" th:text="${tour?.description}"></textarea>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && tour.description == ''}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Description </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--                                            <div class="form-group row mb-4">
                                                                                            <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Price</label>
                                                                                            <div class="col-sm-12 col-md-7">
                                                                                                <input name="price" type="number" class="form-control inputtags" min="0"
                                                                                                       oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                                                                                                       th:value="${tour.price}" />
                                                                                            </div>
                                                                                        </div>-->

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Discount</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input name="discount" type="number" class="form-control inputtags" min="0" max="100"
                                                           oninput="this.value = !!this.value && Math.abs(this.value) >= 0 && Math.abs(this.value) <= 100 ? Math.abs(this.value) : null"
                                                           th:value="${tour?.discount}" />
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <!--error message-->
                                            <div th:if="${not #strings.isEmpty(errorMessage) && tour?.discount == null}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Discount </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Tour guide</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="guideId" class="form-control selectric">
                                                        <option th:each="user : ${users}" th:value="${user.id}"
                                                                th:selected="${user.id == tour.guideId.id}"
                                                                th:text="${user.firstName + ' ' + user.lastName}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Transport</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="transportId" class="form-control selectric">
                                                        <option th:each="transport : ${transports}" th:value="${transport.id}"
                                                                th:selected="${transport.id == tour.transportId.id}"
                                                                th:text="${transport.name}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Region</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select name="regionId" class="form-control selectric">
                                                        <option th:each="region : ${regions}" th:value="${region.id}"
                                                                th:selected="${region.id == tour.regionId.id}"
                                                                th:text="${region.nameArea}"></option>
                                                    </select>
                                                </div><span style="color:red">*</span>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Image</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div id="image-preview" class="image-preview">
                                                        <label for="image-upload" id="image-label">Choose File</label>
                                                        <img th:src="'data:image/png;base64,' + ${tour?.image}" width="250" height="250px" alt="alt"/>
                                                        <input type="file" name="images" id="image-upload" />
                                                        <input type="hidden" name="image" th:value="${tour?.image}" />
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && (tour?.image == null || tour?.image.isEmpty)}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Image </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div layout:fragment="js">

            </div>

    </body>

</html>
