<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <div layout:fragment="title">
            <title>Edit schedule item</title>
        </div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <div layout:fragment="css">
            <link rel="stylesheet" href="/admin/lib/modules/bootstrap-daterangepicker/daterangepicker.css">
                <style>
                    .text_area {
                        border: 1px solid #E4E6FC; /* Định dạng border cùng một lúc */
                        background-color: #FDFDFF;
                        border-radius: 5px;
                        padding: 10px 15px;
                    }

                    .text_area:focus {
                        outline: none;
                        border-color: #6777EF;
                    }

                </style>
        </div>

    </head>

    <body>

        <div layout:fragment="content">
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Edit schedule item</h1>
                        <div class="section-header-breadcrumb">
                            <div class="breadcrumb-item active"><a th:href="@{/admin/dashboard}">Dashboard</a></div>
                            <div class="breadcrumb-item active"><a th:href="@{/admin/tour}">View tour</a></div>
                            <div class="breadcrumb-item active"><a th:href="@{/admin/schedule/{tourId}(tourId=${tourId})}">View schedule</a></div>
                            <div class="breadcrumb-item">Edit schedule item</div>
                        </div>
                    </div>

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Edit schedule item</h4>
                                    </div>
                                    <form action="/admin/edit-scheduleItem" method="POST" enctype="multipart/form-data">
                                        <!-- Pass scheduleId as hidden input -->
                                        <input type="hidden" name="scheduleid" th:value="${scheduleId}"/>
                                        <input type="hidden" name="id" th:value="${currentScheduleItem?.id}"/>
                                        <div class="card-body">
                                            <div th:if="${not #strings.isEmpty(message)}" style="display: block; margin-left: auto; margin-right: auto;" class="form-group row mb-4">
                                                <div class="alert alert-danger">
                                                    <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                    <span th:text="${message}"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Name day</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <!-- Populate input with current name day value -->
                                                    <input name="nameDay" type="text" class="form-control" th:value="${currentScheduleItem?.nameDay}"/>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && currentScheduleItem?.nameDay.isEmpty}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Name day </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Title</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <!-- Populate input with current title value -->
                                                    <input name="title" type="text" class="form-control" th:value="${currentScheduleItem?.title}"/>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && currentScheduleItem?.title.isEmpty}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Title </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Description</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <!-- Populate textarea with current description value -->
                                                    <textarea name="description" class="form-control-plaintext text_area" rows="10"
                                                              th:text="${currentScheduleItem?.description}"></textarea>
                                                    <small style="color:red;" class="form-text">*Note: Each idea must add a dash "-"</small>
                                                </div><span style="color:red">*</span>
                                            </div>
                                            <div th:if="${not #strings.isEmpty(errorMessage) && currentScheduleItem?.description.isEmpty}" style="" class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div class="alert alert-danger">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;
                                                        <span>Description </span><span th:text="${errorMessage}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div layout:fragment="js">
                <script src="/admin/lib/modules/bootstrap-daterangepicker/daterangepicker.js"></script>
                <script src="/admin/lib/modules/cleave-js/dist/cleave.min.js"></script>
                <script>
                    "use strict";
                    var schedule = document.getElementById('schedule');
                    var schedule2 = document.getElementById('schedule-2');
                    schedule.classList.add('active');
                    schedule2.classList.add('active');


                    var cleaveC = new Cleave('.currency', {
                        numeral: true,
                        numeralThousandsGroupStyle: 'thousand'
                    });

                    var dura = () => {
                        var start = $('#start-date').val();
                        var end = $('#end-date').val();

                        var date1 = new Date(start);
                        var date2 = new Date(end);

                        // The number of milliseconds in one day
                        const ONE_DAY = 1000 * 60 * 60 * 24;

                        // Calculate the difference in milliseconds
                        const differenceMs = Math.abs(date2 - date1);

                        document.getElementById("duration").value = Math.round(differenceMs / ONE_DAY);

                    };

                    document.getElementById("duration").addEventListener("click", dura);
                </script>
            </div>

    </body>

</html>
