<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  lang="en" 
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/admin/layout" > 

    <head>
    <div layout:fragment="title">
        <title>Invoice</title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div layout:fragment="css">
        <link rel="stylesheet" href="/admin/lib/modules/datatables/datatables.min.css">
        <link rel="stylesheet" href="/admin/lib/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/admin/lib/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
    </div>

</head>

<body>

    <div layout:fragment="content">
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Invoce List Page</h1>
                    <div class="section-header-breadcrumb">
                        <div class="breadcrumb-item active"><a href="#">Manage</a></div>
                        <div class="breadcrumb-item active"><a href="#">Tour</a></div>
                        <div class="breadcrumb-item">Invoices</div>
                    </div>
                </div>

                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>All invoice</h4>

                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-1">
                                            <thead>                                 
                                                <tr>
                                                    <th class="text-center">
                                                        #
                                                    </th>
                                                    <th>Invoice ID</th>
                                                    <th>Booking Number</th>
                                                    <th>Customer</th>
                                                    <th>Due Date</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>                                 
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>JAV-11032</td>
                                                    <td class="text-danger" title="Siêu Sale🔥| Phan Thiết - Mũi Né - Hòn Rơm - Đồi Cát Bay - Trải nghiệm cung đường cao tốc mới Dầu Giây Phan Thiết">453307142023</td>
                                                    <td>Ninh Duong Lan Ngoc</td>
                                                    <td>14-07-2023</td>
                                                    <td><a class="text-primary">$999.00</a></td>
                                                    <td><div class="badge badge-warning">Unpaid</div></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>JAV-11032</td>
                                                    <td class="text-danger" title="Siêu Sale🔥| Phan Thiết - Mũi Né - Hòn Rơm - Đồi Cát Bay - Trải nghiệm cung đường cao tốc mới Dầu Giây Phan Thiết">453307142023</td>
                                                    <td>Ninh Duong Lan Ngoc</td>
                                                    <td>14-07-2023</td>
                                                    <td><a class="text-primary">$999.00</a></td>
                                                    <td><div class="badge badge-success">Paid</div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div layout:fragment="js">
        <script src="/admin/lib/modules/datatables/datatables.min.js"></script>
        <script src="/admin/lib/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="/admin/lib/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
        <script src="/admin/lib/modules/jquery-ui/jquery-ui.min.js"></script>

        <script>
            "use strict";

            $("#table-1").dataTable({
                "columnDefs": [
                    {"sortable": false, "targets": [2, 3]}
                ]
            });
            $("#table-2").dataTable({
                "columnDefs": [
                    {"sortable": false, "targets": [0, 2, 3]}
                ]
            });

            var tour = document.getElementById('tour');
            var tour4 = document.getElementById('tour-4');
            tour.classList.add('active');
            tour4.classList.add('active');
        </script>
    </div>

</body>

</html>
