<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/admin/lib/modules/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/admin/lib/modules/fontawesome/css/all.min.css"/>

        <!-- CSS Libraries -->
        

        <!-- Template CSS -->
        <link rel="stylesheet" href="/admin/css/style.css"/>
        <link rel="stylesheet" href="/admin/css/components.css"/>
        <!-- Start GA -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-94034622-3');
        </script>
    </head>

    <body>
        <div id="app">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                            <div class="login-brand">
                                <img src="/admin/images/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                            </div>

                            <div class="card card-primary">
                                <div class="card-header"><h4>Login</h4></div>

                                <div class="card-body">
                                    <form method="POST" action="#" class="needs-validation" novalidate="">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                                                <div class="invalid-feedback">
                                                    Please fill in your email
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-block">
                                                <label for="password" class="control-label">Password</label>
                                                <div class="float-right">
                                                    <a th:href="@{/admin/forgot-password}" class="text-small">
                                                        Forgot Password?
                                                    </a>
                                                </div>
                                            </div>
                                            <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                                                <div class="invalid-feedback">
                                                    please fill in your password
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    <!-- <div class="text-center mt-4 mb-3">
                                      <div class="text-job text-muted">Login With Social</div>
                                    </div>
                                    <div class="row sm-gutters">
                                      <div class="col-6">
                                        <a class="btn btn-block btn-social btn-facebook">
                                          <span class="fab fa-facebook"></span> Facebook
                                        </a>
                                      </div>
                                      <div class="col-6">
                                        <a class="btn btn-block btn-social btn-twitter">
                                          <span class="fab fa-twitter"></span> Twitter
                                        </a>                                
                                      </div>
                                    </div> -->

                                </div>
                            </div>
                            <!-- <div class="mt-5 text-muted text-center">
                              Don't have an account? <a href="auth-register.html">Create One</a>
                            </div>
                            <div class="simple-footer">
                              Copyright &copy; Stisla 2018
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script src="/admin/lib/modules/jquery.min.js"></script>
        <script src="/admin/lib/modules/popper.js"></script>
        <script src="/admin/lib/modules/tooltip.js"></script>
        <script src="/admin/lib/modules/bootstrap/js/bootstrap.min.js"></script>
        <script src="/admin/lib/modules/nicescroll/jquery.nicescroll.min.js"></script>
        <script src="/admin/lib/modules/moment.min.js"></script>
        <script src="/admin/js/stisla.js"></script>

        <script src="/admin/js/scripts.js"></script>
        <script src="/admin/js/custom.js"></script>
    </body>

</html>
