

<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/thymeleaf.html to edit this template
-->

<!--<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->

<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/user/layout">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/user/css/detail.css">
        <link rel="stylesheet" href="/user/css/booktour.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;400;500&display=swap');
            .button-book {
                width: 80px;
                height: 20px;
                flex-shrink: 0;
                background-color: #1D3133;
                border: solid 2px #C1AC67;
            }

            .button-book input[type="submit"] {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
                color: #C1AC67;
                font-size: 12px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 1px;
            }
            .payment.selected {
                background-color: #1E4F2A;
                color: white;
            }
            .payment.selected>p {
                /*background-color: #1E4F2A;*/
                color: white;
            }
            /*            a{
                            color: white !important;
                        }*/


            /*            .line {
                            position: absolute;
                            top: 73px;
                            left: 0;
                            width: 165px !important;
                            height: 5px;
                            background-color: #C1AC67;
                            border-radius: 10px;
                        }*/
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>

    <body>
        <div layout:fragment="content">
            <!--header-->
            <div class="hero" style="margin-bottom: 0px">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="overlay" >
                                <div class="overlay-content">
                                    BOOK TOUR
                                </div>

                            </div>
                        </div>

                    </div>



                </div>
            </div>
            <!--header-->

            <div id="tourism" class="untree_co-section">
                <div class="container">

                    <div class="container" >
                        <div class="tab_box" style="position: sticky; top: 0;" >

                            <button class="tab_btn ">1. SELECT SERVICES</button>
                            <button class="tab_btn" >2.ENTER PASSENGE INFORMATION ONLY</button>
                            <button class="tab_btn">3. PAYMENT</button>
                            <button class="tab_btn" style="color: #C1AC67">4. CONFIRMATION</button>


                        </div>

                        <div th:each="list : ${listPayment}" class="page-book">
                            <div class="container active body-content enter-passenge ">

                                <div class="mt-5 mb-5">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="row" id="border">
                                                <h5 class="receipt-title">CONTACT INFORMATION</h5>
                                                <hr class="hr">
                                                <div class="col-lg-6">
                                                    <div class="text-title">Name</div>
                                                    <div class="text-field" th:text="${list.userId.firstName + ' ' + list.userId.lastName}"></div>

                                                    <div class="text-title">Address</div>
                                                    <div class="text-field" th:text="${list.userId.address != null ? list.userId.address : ''}"></div>

                                                    <!--                                                    <div class="text-title">Note</div>
                                                                                                        <div class="text-field">Toi bi say xe</div>-->
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="text-title">Email</div>
                                                    <div class="text-field" th:text="${list.userId.email}"></div>

                                                    <div class="text-title">Phone</div>
                                                    <div class="text-field" th:text="${list.userId.phone}"></div>
                                                </div>
                                            </div>

                                            <div class="row mt-4" id="border">
                                                <h5 class="receipt-title">INFORMATION</h5>
                                                <hr class="hr">

                                                <div class="col-lg-12">

                                                    <div class="row">
                                                        <div class="col-lg-4"><div class="text-field">Booking Number</div></div>
                                                        <div class="col-lg-8" th:text="${list.bookingId.id}" ></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4"><div class="text-field">Total number of passengers</div></div>
                                                        <div class="col-lg-8" th:text="${list.bookingId.adult + list.bookingId.children + list.bookingId.baby}" ></div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4"><div class="text-field">Payments</div></div>
                                                        <div class="col-lg-8">
                                                            <span th:if="${list.paymentMethod == 0}">
                                                                Cash
                                                            </span>
                                                            <span th:if="${list.paymentMethod == 1}">
                                                                MOMO
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4"><div class="text-field">Total price</div></div>
                                                        <div style="color: lightcoral" class="col-lg-8" th:text="${list.price + ' ' + 'USD'}"></div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-4"><div class="text-field">Payment time</div></div>
                                                        <div class="col-lg-8" th:utext="${#dates.format(list.date, 'dd/MM/yyyy HH:mm')}"></div>
                                                    </div>



                                                    <div class="row mt-3">
                                                        <div class="col-lg-4"><div class="text-field">Status</div></div>
                                                        <div class="col-lg-8"><img style="width: 80px; height: auto" th:src="@{/user/lib/icon/paid.png}"></div>
                                                    </div>

                                                    <div class="row mt-3">
                                                        <div class="col-lg-4"><div class="text-field">Schedule</div></div>
                                                        <div class="col-lg-8"><a target="_blank" th:href="@{/user/detail/{id}(id=${list.bookingId.scheduleId.id})} ">Link to Tour Detail</a></div>
                                                    </div>
                                                    <div class="row mt-3">

                                                        <div class="col-lg-12"><i class="receipt-title">We have successfully confirmed the payment. We will contact you soon</i></div>
                                                    </div>
                                                    <div class="row mt-3">

                                                        <div class="col-lg-12"><i class="receipt-title">If you have any questions, please feel free to contact us</i></div>
                                                    </div>
                                                    <div class="row mt-3">

                                                        <div class="col-lg-12"><h3 class="receipt-title">1900 6568</h3></div>
                                                    </div>

                                                    <div class="row mt-3">

                                                        <div class="col-lg-12"><h3 class="receipt-title">tourviet5@gmail.com</h3></div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-lg-1"></div>

                                        <div class="col-lg-4">
                                            <div class="row" id="border">
                                                <img src="/user/lib/icon/logoTV.png" alt="" style="margin: auto;width: 150px">
                                                <h5 class="receipt-title">BOOKING CONFIRMATION SHEET</h5>
                                                <hr class="hr">
                                                <div class="text-field" th:text="${list.bookingId.scheduleId.tourId.name}">

                                                </div>
                                                <span>Region: <p class="receipt-title" th:text="${list.bookingId.scheduleId.tourId.regionId.nameArea}"></p></span>
                                                <hr class="hr">
                                                <div class="col-lg-12">
                                                    <div class="row mt-3">
                                                        <!--                                                        <div class="col-lg-5"><div class="text-field">Tour Code</div></div>
                                                                                                                <div class="col-lg-7">NDSGN550-001-080723XE-F</div>
                                                                                                                <div class="col-lg-5"><div class="text-field">Trip</div></div>
                                                                                                                <div class="col-lg-7">TPHCM - PHAN THIET - TPHCM</div>-->
                                                        <div class="col-lg-5"><div class="text-field">Departure date  </div></div>
                                                        <div class="col-lg-7" th:text="${#dates.format(list.bookingId.scheduleId.startDate, 'dd-MMM-yyyy')}"></div>
                                                        <div class="col-lg-5"><div class="text-field">Return day</div></div>
                                                        <div class="col-lg-7" th:text="${#dates.format(list.bookingId.scheduleId.endDate, 'dd-MMM-yyyy')}"></div>
                                                        <div class="col-lg-5"><div class="text-field">Transport</div></div>
                                                        <div class="col-lg-7" th:text="${list.bookingId.scheduleId.tourId.transportId.name}"></div>
                                                    </div>
                                                </div>
                                                <hr class="hr">
                                                <div class="row mt-3">

                                                    <div class="col-lg-5"><div class="text-field">Name  </div></div>
                                                    <div class="col-lg-7" th:text="${list.userId.firstName + ' ' + list.userId.lastName}"></div>
                                                    <div class="col-lg-3"><div class="text-field">Email</div></div>
                                                    <div class="col-lg-9"  th:text="${list.userId.email}"></div>
                                                    <div class="col-lg-5"><div class="text-field">Phone</div></div>
                                                    <div class="col-lg-7" th:text="${list.userId.phone}"></div>
                                                    <div class="col-lg-5"><div class="text-field">Adult</div></div>
                                                    <div class="col-lg-7" th:text="${list.bookingId.adult}"></div>
                                                    <div class="col-lg-5"><div class="text-field">Children</div></div>
                                                    <div class="col-lg-7"  th:text="${list.bookingId.children}"></div>
                                                    <div class="col-lg-5"><div class="text-field">Baby</div></div>
                                                    <div class="col-lg-7"  th:text="${list.bookingId.baby}"></div>
                                                </div>
                                                <hr class="hr">
                                                <div class="row mt-3">

                                                    <div class="col-lg-5"><div class="text-field">Total  </div></div>
                                                    <div class="col-lg-7" th:text="${list.price + ' ' + 'USD'}"></div>
                                                    <div class="col-lg-5"><div class="text-field">Payment time</div></div>
                                                    <div class="col-lg-7" th:utext="${#dates.format(list.date, 'dd/MM/yyyy HH:mm')}"></div>

                                                </div>

                                                <img th:src="@{/user/lib/icon/paid.png}" alt="" style="margin: auto;width: 150px">
                                                <!--                                                <img src="/user/images/chart.png" alt="" style="margin: auto;width: 150px">
                                                                                                <div>
                                                                                                    To view the latest tour program information, you can use your phone to scan the QR code next to it to access the website.
                                                                                                </div>
                                                                                                <br>
                                                                                                <div>
                                                                                                    To install QR Code scanning software, you can search in your phone's application store with the following keywords: QRCode Scanner, QRCode Reader, ..
                                                                                                </div>-->

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5" id="border">
                                        <h5 class="receipt-title">PASSENGER LIST</h5>
                                        <hr class="hr">
                                        <div class="col-lg-12" >
                                            <div class="row mb-3" id="nav-list">

                                                <div class="col-lg-2">Name</div>
                                                <div class="col-lg-2">Phone</div>
                                                <div class="col-lg-2">Email</div>
                                                <div class="col-lg-2">Address</div>
                                                <div class="col-lg-2">Age</div>
                                                <div class="col-lg-2">Citizen Identification</div>
                                            </div>
                                            <th:block th:each="in : ${info}">
                                                <!--                                                <th:block th:if="">
                                                                                                    
                                                                                                </th:block>-->
                                                <div class="row" id="table-list">
                                                    <!--<div class="col-lg-2">1</div>-->
                                                    <div class="col-lg-2" th:text="${in.name}"></div>
                                                    <div class="col-lg-2" th:text="${in.phone}"></div>
                                                    <div class="col-lg-2" th:text="${in.email}"></div>
                                                    <div class="col-lg-2" th:text="${in.address}"></div>
                                                    <div class="col-lg-2" th:text="${in.cccd}" ></div>
                                                    <hr class="hr">
                                                </div>
                                            </th:block>

                                            <!--                                            <div class="row" id="table-list">
                                                                                            <div class="col-lg-2">2</div>
                                                                                            <div class="col-lg-2">Phu Dai</div>
                                                                                            <div class="col-lg-2">2/2/2003</div>
                                                                                            <div class="col-lg-2">Female</div>
                                                                                            <div class="col-lg-2">Landmark 81</div>
                                                                                            <div class="col-lg-2">Adult</div> 
                                                                                            <hr class="hr">
                                                                                        </div>-->
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <a href="#" class="back" ></a>

        </div>

    </body>

</html>


